* {
  background-color:black;
  color: white;
}

header {
  height: 10%;
  padding: 1.5em;
  border: 1px solid white;
}

.chatslist {
  overflow: scroll;
}

.newChatButton {
  position: fixed;
  bottom: 5px;
  width: 100%;
}

/* This could go into another css file */
.keyboard {  
  position: fixed;
  bottom: 5px;
  width: 100%;
  border: 1px solid white; 
  padding: 20px;
}

.topicHeader {
  height: 10%;
  padding: 1em;
  border: 1px solid white;
}