
* {
  background-color: black;
  color: white; 
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  /*border: 1px solid red;*/
}

/*Frame following*/
.thediv {
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.outerDiv { 
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
}

.swiperContainer {
  overflow: hidden;
  display: flex;
}

/* all navlinks */
.navLink {
  text-decoration: none;
}

.topRight {
  margin-right: 2.5em;
}

/*Headlines following*/
h1 {
  padding: 0px;
  margin: 0px;
  font-size: 1.5em;
  font-weight: 600;
}

h2 {
  padding: 0px;
  margin: 0px;
  font-size: 1.2em;
  font-weight: 600;
}

h3 {
  padding: 0px;
  margin: 0px;
  font-size: 1.1em;
  font-weight: 600;
}

/*Header following*/
header {
  padding: 0.5em;
  border-radius: 0px 0px 60px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-image: linear-gradient(to right,#EA646B, #B54DC5);
}

header * {
  background-color: rgba( 0, 0, 0, 0);
}

/*Topic stuff following*/
.messageKeyboardFlex {
  overflow: hidden;
  max-height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.swiper {
  overflow: hidden;
  max-height: 100%;
}

.topicFrame {
  overflow: hidden;
  max-height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topicHeader {
  padding: 1em;
  display: flex;
  flex-direction: column; 
}

.topicHeaderPartOne {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: baseline;
}

.topicHeaderPartTwo {
  /*collabsible part*/
}

/*Messages stuff following*/
.messagesList {
  min-height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.messageFrame {
  margin: 0.5em 1.5em;
  border: 3px solid #BA4FBB;
  border-radius: 2em; 
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

.messageFrame * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.answerButton {
  align-self: flex-start;
  justify-self: center;
  margin: 1em 2em;
  margin-left: 20px;
}

.messageText {
  margin: 0 20px;
  max-width: 100%; 
  overflow-x: hidden;
}

.messageHeader {
  margin: 2px 20px 0px;
}

/*Text input form stuff following*/
.keyboard { 
  position: sticky;
  bottom: 0px; 
  max-height: 100%;
  max-width: 100%;
}

.keyboard form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  margin: 1em;
  padding: 0 0.5em;
  justify-items: center;
  align-items: center;
}

textarea {
  min-width: 250px; /*evtl dynamisch anpassen */
  border: 3px solid #BA4FBB;
  padding: 1em;
  border-radius: 2em;  
  resize: none;
  overflow-y: scroll;
  max-height: 15em;
}

.textPreview {
  grid-row: 1;
  grid-column: 1 / 5;
  max-height: 200px;
}

.keyboardSubmit{
  grid-column: 4;
  justify-self: center;
}

.keyBoardGrid1 *, .keyBoardGrid2 *, .keyBoardGrid3 * {
  max-width: 1.5em;
  max-height: 1.5em;
}

.keyBoardGrid1 {
  grid-column: 1;
  justify-self: center;
}

.keyBoardGrid2 {
  justify-self: center;
  grid-column: 2;
}

.keyBoardGrid3 {
  grid-column: 3;
  justify-self: center;
}

/*Chatsoverviewpage*/
.newChatButton {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 0.8em;
  background-color: #BA4FBB;
  text-align: center;
  justify-self: flex-end;
  align-self: center;
}

.chatListItem {
  border: 3px solid #D55D8D;
  padding: 0.7em;
  margin: 1em 0.8em 0;
  border-radius: 2em;
}

.chatListItems {
  display: flex;
  flex-direction: column;
}

/*Optionspages*/
.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  padding: 1.5em;
}

.body * {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.alignLeft { /*only for chat settings*/
  align-self: flex-start;
  margin: 1em;
}

.alignLeft p { /*only for chat settings*/
  margin: 0px;
}

input[type="text"] {
  border: 3px solid #BA4FBB;
  padding: 1em;
  border-radius: 2em;  
  width: 80vw;
}

::placeholder { 
  color: white;
  opacity: 1;
}

.body button { /*Buttons in the option pages*/
  border: hidden;
  font-weight: 800;
  font-size: large;
}

.divInsideLabel * { /*For topic options*/
  margin: 0px;
  padding:0px;
  gap: 0px;
}

.divInsideLabel { /*For topic options*/
  margin-bottom: 0.5em;
  padding:0px;
  gap: 0em;
}

.divInsideLabel2 {
  margin-top: 2.5em;
}

button { /*Mainly Answer Button in Chat*/
  border: hidden;
  font-weight: 800;
}

.formButton {
  text-align: center;
  align-self: center;
} 

input[type="submit"] {
  border: hidden;
  font-weight: 800;
  font-size: large;
  color: #BA4FBB;
}

.userData * { /*For Userprofile*/
  margin: 0em 0em;
  padding: 0em;
}

.userData {/*For Userprofile*/
  gap: 2em;
}

/*Login page stuff*/
.tybeLogo {
  margin-top: 9em;
}

/*Emotionlevel stuff, currently not in use*/
/*
input[type="submit"]:not(.keyBoardInput) {
  border: 1px solid #D55D8D;
  border-radius: 3px;  
  width: 90px;
}*/

/* Emotion levels */
/*
.emotionLevel1 {
  border: 3px solid #BA4FBB;
  border-radius: 2em;
}

.emotionLevel2 {
  border: 3px solid #B19DFA;;
  border-radius: 2em;
}

.emotionLevel3 {
  border: 3px solid #DA95FA;
  border-radius: 2em;
}

.emotionLevel4 {
  border: 3px solid #FD92B4;
  border-radius: 2em;
}

.emotionLevel5 {
  border: 3px solid #FFB693;
  border-radius: 2em;
}
*/