
* {
  background-color: black; /*0C0C0E  18171E  080809  030306 030303 010101*/
  color: white; /* D5CEFF*/
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;

  /*border: 1px solid red;*/
}

/* all navlinks */

.outerDiv {
  border: 1px solid #90A5EA; /*61A0FD 9796E1 9496EB 929EEB 90A5EA  775EFF 599CFF 7D66FF 59C6EA*/
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navLink {
  text-decoration: none;
}


.swiper{
  height: 100vh;
  overflow:hidden;
}


/*Headlines following*/
h1 {
  padding: 0px;
  margin: 0px;
  font-size: 1.5em;
  font-weight: 600;
}

h2 {
  padding: 0px;
  margin: 0px;
  font-size: 1.2em;
  font-weight: 600;
}

h3 {
  padding: 0px;
  margin: 0px;
  font-size: 1.1em;
  font-weight: 600;
}

/*Header following*/
header {
  padding: 0.5em;
  border: 3px solid #90A5EA;
  border-bottom: 2px solid #90A5EA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
   
}

header, header * {
  background-color: #14161E; /*18171E 160C02 14161E 232940 2B2B2B*/
}

/*Topic stuff*/

.topicFrame {
  display:flex;
  flex-direction: column;
  height: 100vh;
  
}

.topicHeader {
  /*position: fixed; */
  padding: 1em;
  border: 2px solid #90A5EA;
  display: flex;
  flex-direction: column; 
}

.topicHeader, .topicHeader * {
  background-color: #14161E;
}

.topicHeaderPartOne {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: baseline;
}



.topicHeaderPartTwo {
  /*look at documentation*/

}

/*Messages*/

/*
.chatslist, .messagesList {
  overflow: scroll;
}*/

.messagesList {
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}


.messageFrame {
  /*border: 1px solid #90A5EA;*/
  
  display:flex;
  flex-direction: column;
  justify-content:space-around;
}

.messageFrame * {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:baseline; /*alternatively flex-start*/
}

.answerButton {
  align-self: flex-start;
  justify-self: center;
  margin: 1em 2em;
  margin-left: 20px;
}

.messageText {
  margin: 0 20px;
}

.messageHeader {
  margin: 0 20px;
}

/*Text input form  ------- Fix the keyboard height!!!! and the rest of it*/
.keyboard {  
  justify-self: flex-end;
  width: 100%;
  border: 2px solid #90A5EA; 
  /*padding: 20px; */
  margin-bottom: 52px;
  
}
.keyboard, .keyboard * {
background-color: #14161E;
}

.keyboard form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1em;
  margin: 1em;
  
  
}

.keyboard form * {
  margin: 0.25em;
  width: 90%
}

.keyboard form .inputField {
  grid-column: 2 / 2;
  grid-row: 1 / 3;
}

/*Chatsoverviewpage*/
.newChatButton {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 0.8em;
  border: 2px solid #90A5EA;
  text-align: center;
  justify-self: flex-end;
  align-self: center;
  
}

.chatListItem {
  border: 1px solid #90A5EA;
  padding: 0.7em;
}

.chatListItems {
  display: flex;
  flex-direction: column;
}

/*Optionspages*/
.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
  padding: 1.5em;
  height: 94vh;
  border: 1px solid #90A5EA;
}

.body * {
  display: flex;
  flex-direction: column;
  
  align-self: center; 
  gap: 0.7em;
  width: 95%;
}



/* Emotion levels */

.emotionLevel1 {
  border-bottom: 2px solid #9ABFF9;
  border-left: 2px solid #9ABFF9;
  border-right: 2px solid #9ABFF9;

}

.emotionLevel2 {
  border-bottom: 2px solid #B19DFA;
  border-left:2px solid #B19DFA;
  border-right:2px solid #B19DFA;
}

.emotionLevel3 {
  border-bottom: 2px solid #DA95FA;
  border-left:2px solid #DA95FA;
  border-right:2px solid #DA95FA;
}

.emotionLevel4 {
  border-bottom: 2px solid #FD92B4;
  border-left:2px solid #FD92B4;
  border-right:2px solid #FD92B4;
}

.emotionLevel5 {
  border-bottom: 2px solid #FFB693;
  border-left: 2px solid #FFB693;
  border-right: 2px solid #FFB693;
  /*background-color: #0C0400; 0C0400*/
}

button {
  border: 1px solid #90A5EA;
  border-radius: 3px;  
}

.formButton {
  width: 90px;
  text-align: center;
  align-self: center;

} 

input:not([type="range"]) {
  border: 1px solid #90A5EA;
  border-radius: 3px;  
  width: 100%;
}

input[type="submit"]:not(.keyBoardInput) {
  border: 1px solid #90A5EA;
  border-radius: 3px;  
  width: 90px;
}

.keyBoardInput {
  border: 1px solid white; 
  width: 100%;
}
